.cardCategory {
    display: flex;
    align-items: center;
    width: 145px;
}
.image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 35px;
    padding: 5px;
}

.title {
    display: flex;
    justify-content: center;
    color: #383333;
    font-size: 15px;
}