
.recipeCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    background: #ffffff;

}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.description{
    text-align: left;
    color: #383333;
    font-size: 14px;
    line-height: 1.2;
}
.image{
    align-self: center;
    width: 250px;
    height: auto;
}
.title{
    text-align: left;
    margin: 0 0 10px 0;
    width: 100%;
    color: #383333;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
}
.serving, .cooktime{
    color: #383333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex:1px;
}
.cooktime{
    align-items: flex-start;
    text-align: left;
    margin-left: 30px;
}

.cooktimeLabel, .servingLabel {
    margin: 0;
    text-align: left;
    font-size: 14px;
}

.servingValue, .cooktimeValue{
    font-weight: bold;
    font-size: 14px;
    margin-top: -0.01px;
}
.servingValue{
    display: flex;
    align-items: center;
    gap: 2px;
}
.personIcon{
    width: 17px;
    height: 17px;
}

.line{
    border-right: 1px solid #383333;
    height: 40px;
    margin: 0 10px 0 0;

}
.sc{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
