.header {
    display: flex;
    justify-content: space-between;
    background: #FEBD2F;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}
.logo{
    padding: 40px;
    font-size: 20px;
    color:  #000000;
    font-family: "Beatrice Deck Trial Bold", sans-serif;
}
.nav{
    display: flex;
    padding: 10px;
    gap: 10px;

}
.navLink{
    color: #525252;
    text-decoration: none;
    font-weight: 700;
}
.navLinkActive{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.nav a{
    padding: 30px;
}
.actions{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 40px;
}


.login{
    background: #FEBD2F;
    color: #525252;
    font-size: 15px;
    font-weight: 700;
    border-radius: 25px;
    border: none;
    height: 45px;
    width: 107px;
}
.login:hover{
    color: black;
}
.signup{
    background: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 25px;
    border: none;
    height: 45px;
    width: 107px;
}
.signup:hover{
    background: #f4f4f4;
}
