.page {
    display: flex;
    justify-content: space-around;
}

.cards {
    transform: translateY(10px);

}
.category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cardsAnimated {
    transform: translateY(10px);

}

.title{
    font-size: 40px;
    color:  #000000;
    font-family: "Beatrice Deck Trial Semi-Bold", sans-serif;
}
.centerPage {
    transform: translateY(30px);
}
