@import './styles/fonts.css';

:root {
  font-family: 'Sofia Pro', sans-serif;
  background-color: #EBEBEB;
  height: 100%;


}

a {
  font-weight: 500;
  text-decoration: inherit;
}


body {
  font-family: 'Sofia Pro', sans-serif;
  margin: 0;
  display: block;


}






